/* Mobile Device */

@media only screen and (max-width: 767px) {
  ul.fh5co-social-icons {
    display: inline-flex;
  }

  ul.info {
    padding-left: 30px;
  }

  .info li .second-block {
    width: 70%;
    display: inline-block;
    color: rgba(0, 0, 0, 0.5);
  }
}
